{% extends "base.html" %}
    {% block content %}


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Prioridade</th>
      <th scope="col">Data limite</th>
      <th scope="col">Área</th>
    </tr>
  </thead>


  <tbody>
    {%for i in tarefas %}
    <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.titulo }}</td>
            <td>{{ i.descricao }}</td>
            <td>{{ i.get_prioridade_display }}</td>
            <td>{{ i.data_limite }}</td>
            <td>{{ i.get_area_display }}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>



{% endblock %}